<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <title>ООО "Рога и копыта"</title>
</head>
<body style="padding:50px;">
       <h1 class="mb-3" style="text-align: center">Анкета приёма на работу:</h1>
<main class="container" style="width:500px;">
    <form action="{{ url_for('handle_data') }}" method="post">
	    <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="FIO" id="FIO" placeholder="ФИО" >
        <br>
        <label class="form-label">Дата рождения:</label>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="date" name="DOB" id="DOB" placeholder="Дата рождения:">
        <br>
        <label class="form-label">Пол:</label>
        <br>
        <select class="form-select" style="font-family: SansSerif; font-size: 14px" name="POL" id="POL">
            <option style="font-family: SansSerif; font-size: 14px" >мужской</option>
            <option style="font-family: SansSerif; font-size: 14px" >женский</option>
            <option style="font-family: SansSerif; font-size: 14px" >не определился</option>
        </select>
        <br>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="NAC" id="NAC" placeholder="Национальность">
        <br>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="EDU" id="EDU" placeholder="Образование">
         <br>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="TRUD" id="TRUD" placeholder="Трудовой стаж">
         <br>
        <textarea style="font-family: SansSerif; font-size: 14px" rows="5" cols="60" class="form-control" name="PROF" id="PROF" placeholder="Профессиональные навыки:"></textarea>
         <br>
        <input class="form-control" style="font-family: SansSerif; font-size: 14px" type="text" name="NUM" id="NUM" placeholder="Номер телефона:">
         <br>
        <input class="btn btn-success" type="submit" value="Отправить">

    </form>
    </main>
</body>
</html>